.div1{
    border: 5px solid red;
    background-color: black;
    color: azure;
    margin-bottom: 60px;

}
.div2{
    border: 5px solid red;
    background-color: black;
    color: azure;
    margin-top: 40px;

}